*.class
*.jar
**/target/**
**/.classpath
**/.project
**/maven-eclipse.xml
**/*.iml
**/.settings/**
**/.externalToolBuilders/**
**/jaxb/**
**/.idea/**
**/META-INF/**

# Python values

__pycache__/
*.pyc
